body {
  font-family: Arial, sans-serif;
  background: #f8f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 800px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"] {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
}

#errorMessage {
  grid-column: span 2;
  background: #ffe0e0;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 6px;
  display: none;
}

.buttons {
  grid-column: span 2;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #4a80f0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #365dcf;
}
#whatsapp {
  text-decoration: none;
}
.first {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#card {
    display: flex;
}
